.appContainer{
  background-color: rgb(55, 192, 204);
  height: 100vh;
  width: 100wh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoBox{
  width: 20rem;
  max-height: 90%;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: inset;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}